:root {
    background-color: #3f3a3a;
}

.fc-daygrid-day {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  width: 70px;
  height: 70px;
}

.fc-media-screen{
  width: 600px;
  height: 600px;
}

.fc-col-header{
  background-color:rgb(29, 29, 199);
  color:rgb(243, 0, 0);
}

#layout{
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-content: center;
}

#all-events-box{
  width: 200px;
  height: 500px;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  color:black;
}